<!DOCTYPE html>
<html lang="en">

<body >

<header>
    <% include ./partials/header %>
</header>
<div class="center" > <h1>Welcome to Komal's Portfolio</h1></div>
<main>
 <a class="resume" href="#">View My Resume</a>
<div class="row">
    <div class="col-sm-3">    
        <div class="jumbotron">
               //image
          
        </div>
    </div>

    <div class="col-sm-9">        
        <div class="well">
<h2 >Hi, This is Komaldeep Kaur.<br>
           She holds an advanced diploma degree in Software Engineering Technology.<br>
           She is a self-motivated and dedicated person looking for a chance to work in software domain.  <br>
           She is eager to support the organization growth through individual work, team work, focused and dedicated manner. </h2>
            
        </div>
    </div>

</div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>