<!DOCTYPE html>
<html lang="en">

<body >

<header>
    <% include ./partials/header %>
</header>
<div class="center" > <h1>Welcome to Komal's Portfolio</h1></div>
<main>

 <a class="resume" href="Assests/Komaldeep_resume.pdf">View My Resume</a>
<div class="row">
    <div class="col-sm-3">    
        <div class="jumbotron">        
        </div>
    </div>

    <div class="col-sm-9">        
       
<p class="mission">  My name is Komaldeep Kaur. I am 21 years old residing in Canada. <br>
    Currently, I am pursuing a Advance Diploma degree from Centennial College in Canada. <br>
    This is my personal website that helps showcase my recent works. Hope you enjoy going through my work.


</p>
            
        </div>
    </div>

</div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>