<!DOCTYPE html>
<html lang="en">

<body >

<header>
    <% include ./partials/header %>
</header>
<div class="center" > <h1>Welcome to Komal's Portfolio</h1></div>
<main>
 <!--LINK TO MY RESUME--> 
 <a class="button" href="Assests/Komaldeep_resume.pdf">View My Resume</a><br><br>
<div class="row">
    <div class="col-sm-3">   
     <!-- MY PHOTO--> 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="Assests/images/myself.jpg"  width="270" height="380" /> <br>
        
    </div>

    <div class="col-sm-4">        
        <!--ABOUT ME--> 
<p class="about"> 
 <i class="fa fa-female" aria-hidden="true" style="font-size:75px;color:black;"></i> <br><br>
My name is Komaldeep Kaur. I am 21 years old residing in Canada. <br>
    Currently, I am pursuing an Advance Diploma degree from Centennial College in Canada. <br>If everything goes well, 
    I hope to graduate with CGPA OF 3.5.<br> I have knowledge of various programming languages
     like C#, Java, Python, ASP.net.<br>
    Throughout the years, I have developed a value of honesty, and responsibility which guides every of my activities.<br>
    This is my personal website that helps showcase my recent works. Hope you enjoy going through my work

</p>           
        </div>
    </div>

</div>
</main>

<footer>
<br>
    <% include ./partials/footer %>
</footer>

</body>
</html>