<!DOCTYPE html>
<html lang="en">

<body >

<header>
    <% include ./partials/header %>
</header>  
       <div class="center" > <h1>Welcome to Komal's Portfolio</h1></div>
<main>
      
  <div class="container">
<!--4 PROJECTS DONE BY KOMALDEEP WIS IMAGES-->
    <p class="project">Academic Credentials&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/contact" class="button">Contact Me for more info!</a></p> 

    <div class="row text-center">

      <div class="col-lg-4 col-md-6 mb-4">
      
        <div class="card h-100">
          <div class="card-body">
          <!--IMAGES CAN BE ZOOMED-->
          <img  class="zoom" src="Assests/images/transcript.png" /> 
            <div class="title">Official Transcript</div>
            <p class="explain">Advance Software Technolgy- Centennial College</p>
          </div>
          <div class="card-footer">
             <a class="button" href="Assests/transcript.pdf">View My Transcript</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
      
        <div class="card h-100">
          <div class="card-body">
          <!--IMAGES CAN BE ZOOMED-->
          <img  class="zoom" src="Assests/images/class12.png" /> 
            <div class="title">Higher Secondary Transcript</div>
            <p class="explain">Higher Secondary - Montessori Cambridge School</p>
          </div>
          <div class="card-footer">
             <a class="button" href="Assests/class12.pdf">View My Transcript</a>
          </div>
        </div>
      </div>

     <div class="col-lg-4 col-md-6 mb-4">
      
        <div class="card h-100">
          <div class="card-body">
          <!--IMAGES CAN BE ZOOMED-->
          <img  class="zoom" src="Assests/images/class10.png" /> 
            <div class="title">High School Transcript</div>
            <p class="explain">High School- Montessori Cambridge School</p>
          </div>
          <div class="card-footer">
             <a class="button" href="Assests/10class.pdf">View My Transcript</a>
          </div>
        </div>
      </div>
      
</main>

<footer>

    <% include ./partials/footer %>
</footer>

</body>
</html>

 
  


 