<!DOCTYPE html>
<html lang="en">

<body >

<header>
    <% include ./partials/header %>
</header>
<div class="center" > <h1>Welcome to Komal's Portfolio</h1></div>
<main>
<div class="row">
    <div class="col-sm-5">    
        <div class="jumbotron">
    <div class="info">
    <h6>Komaldeep Kaur</h6>
    <h6>221-2303 Eglinton Avenue East, Toronto, ON, Canada</h6>
    <h6>Email: KD00441@gmail.com</h6>
    <h6>Cell: +1 (437) 998-8571</h6>
  </div>
          
        </div>
    </div>

    <div class="col-sm-4"> 
    <p class="contact"> Please, feel free to contact me:</p>        
       <br><form>
  <div class="form-group">
    <input type="Name" class="form-control" id="name"  placeholder="Enter Name">
  </div>
  <div class="form-group">
    <input type="Email" class="form-control" id="email" placeholder="Enter Email">
  </div>
  <div class="form-group">
    <input type="phone" class="form-control" id="phone" placeholder="Enter Phone Number">
  </div>
  <div class="form-group">
    <input type="msg" class="form-control" id="msg" placeholder="Enter Message">
  </div>
  <a class="button" href="/" role="button">Submit</a>
</form>

          
        </div>
    </div>

</div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>