<!DOCTYPE html>
<html lang="en">

<body >

<header>
    <% include ./partials/header %>
</header>
<div class="center" > <h1>Welcome to Komal's Portfolio</h1></div>
<main>
<div class="row">
    <div class="color" >    
        <div class="jumbotron">
                       
    <a href="/" class="button" role="button">Home</a><br>
        <a href="/about" class="button" role="button">About</a><br>
        <a href="/project" class="button" role="button">Projects</a><br>
        <a href="/services" class="button" role="button">Services</a><br>
        <a href="/contact" class="button" role="button">Contact</a>
                      
        </div>
    </div>

    <div class="col-sm-9">        
        
         <p class="right">“Be the change that you wish to see in the world.”</p><br><br>
                        <h2>MISSION STATEMENT.</h2> 
       
    </div>

</div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>