<!DOCTYPE html>
<html lang="en">

<body >

<header>
    <% include ./partials/header %>
</header>
<div class="center" > <h1>Welcome to Komal's Portfolio</h1></div>
<main>
<div class="row">
    <div class="col-sm-2" >    
        <div class="jumbotron">
                       
    <a href="/" class="button" role="button">Home</a><br>
        <a href="/about" class="button" role="button">About</a><br>
        <a href="/project" class="button" role="button">Projects</a><br>
        <a href="/services" class="button" role="button">Services</a><br>
        <a href="/contact" class="button" role="button">Contact</a>
                      
        </div>
    </div>

    <div class="col-sm-4">        
        
         <p class="right">“Be the change that you wish to see in the world.”</p><br><br>
                       
         <p class="mission"> 
                       <br> I want the world to be a better place because of my actions, 
                        and because of the impact I have on other people. Also, on my bad days,
                         where it seems I can't do anything right, I hope I don't mess things up too badly.          
                    I feel a good attitude, whether it is at sports or 
                    in the office, is a valuable mentoring device. With that said,
                     I will take the opportunity to act as an example and teach anyone I meet.<br><br>
    </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
    
    
    <img src="Assests/images/web.jpg"  width="320" height="350" float="right"/>
                     
</div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>