<!DOCTYPE html>
<html lang="en">

<body >

<header>
    <% include ./partials/header %>
</header>  
       <div class="center" > <h1>Welcome to Komal's Portfolio</h1></div>
<main>
      
  <div class="container">
<!--4 PROJECTS DONE BY KOMALDEEP WIS IMAGES-->
    <p class="project">Projects&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;<a href="/contact" class="button">Contact Me for more info!</a></p> 

    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
      
        <div class="card h-100">
          <div class="card-body">
          <!--IMAGES CAN BE ZOOMED-->
          <img  class="zoom" src="Assests/images/member.png" /> 
            <div class="title">Registration Form</div>
            <p class="explain">Club Membership Registration Form Validation,  Tools used: JavaScript, HTML & CSS, Visual Studio</p>
          </div>
          <div class="card-footer">
            <a href="/contact" class="button">More Info!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">       
          <div class="card-body">
          <!--IMAGES CAN BE ZOOMED-->
            <img  class="zoom" src="Assests/images/bmi.png"   /> 
            <div class="title">BMI Calculator</div>
            <p class="explain">BMI Calculator: used programming language C#, and visual studio as a tool</p>
          </div>
          <div class="card-footer">
            <a href="/contact" class="button">More Info!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
          <!--IMAGES CAN BE ZOOMED-->
             <img class="zoom" src="Assests/images/sdlc.jpg" />
            <div class="title">SDLC</div>
            <p class="explain">ByCentennial-Selling used and new books.<br>
Tools: MS Visio, Visual Paradigm, MS Access</p>
          </div>
          <div class="card-footer">
            <a href="/contact" class="button">More Info!</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
          <!--IMAGES CAN BE ZOOMED-->
        <img class="zoom" src="Assests/images/java.PNG"   />
            <div class="title">Menu Web Application</div>
            <p class="explain">Worked with JSP pages, servlets and java EE. Tool: Eclipse</p>
          </div>
          <div class="card-footer">
            <a href="/contact" class="button">More Info!</a>
          </div>
        </div>
      </div>
      </div>
      </div>
</main>

<footer>

    <% include ./partials/footer %>
</footer>

</body>
</html>

 
  


 