<% include ./partials/header.ejs %>
 
        <div class="center" > <h1>Welcome to Komal's Portfolio</h1></div>
      
 
        
      <div class="row">        
        <div class="col-lg-12 text-center">
          
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="text">
      <div class="row text-center">
        <div class="col-md-4">
         
          
          <div class="text">Programming</div>
          <p class="explain">Efficient in programming languages like C#,<br> Java, C++, ASP.net, Python <br>and SQL </p>
        </div>
        <div class="col-md-4">
         
         
         
          <h4 class="text">Web developer</h4>
          <p class="explain">Knowledge of HTML/XHTML, CSS,<br> JavaScript and jQuery.</p>
        </div>
        <div class="col-md-4">
         
           
         
          <h4 class="text">Database Adiministaration</h4>
          <p class="explain">Knowledge of database queries, theory, <br> design, 
                and RDMS.</p>
        
        </div></div>
      
  </section>
  


  <% include ./partials/footer.ejs %>