<% include ./partials/header.ejs %>
 
        <div class="center" > <h1>Welcome to Komal's Portfolio</h1></div>
      
 
        
              
        
          <h2 >Tutoring can be provided in following courses:<br> <br>
 <div class="program">
    Programming I, II, III<br>
  Mobile Application Development<br>
  API Engineering and Cloud Computing<br>
  Advance Database Concepts<br>
  Java EE Programming<br>
  Client-side web development<br>
  Unix/Linux Operating System<br>
</h2></div>
         
        
      </div>
      <div class="text">
      <div class="row text-center">
        <div class="col-md-4">
          
          <div class="text">Programming</div>
          <p class="explain">Efficient in programming languages like C#,<br> Java, C++, ASP.net, Python <br>and SQL </p>
        </div>
        <div class="col-md-4">
         
         
         
          <h4 class="text">Web developer</h4>
          <p class="explain">Knowledge of HTML/XHTML, CSS,<br> JavaScript and jQuery.</p>
        </div>
        <div class="col-md-4">
         
           
         
          <h4 class="text">Database Adiministaration</h4>
          <p class="explain">Knowledge of database queries, theory, <br> design, 
                and RDMS.</p>
        
        </div></div>
      
  </section>
  


  <% include ./partials/footer.ejs %>