<% include ./partials/header.ejs %>
 
        <div class="center" > <h1>Welcome to Komal's Portfolio</h1></div>
          <h2 >Tutoring can be provided in following courses:<br> 
 <div class="explain2">
    Programming I, II, III<br>
  Mobile Application Development<br>
  API Engineering and Cloud Computing<br>
  Advance Database Concepts<br>
  Java EE Programming<br>
  Client-side web development<br>
  Unix/Linux Operating System<br>
</h2></div>
         
        
      </div>
      <div class="text">
      <div class="row text-center">
        <div class="col-md-4">
              <i class="fa fa-code" aria-hidden="true" style="font-size:60px"></i>
          <div class="text">Programming</div>
          <p class="explain">Efficient in programming languages like C#,<br> Java, C++, ASP.net, Python <br>and SQL </p>
        </div>
        <div class="col-md-4">
         <i class="fa fa-wpforms" aria-hidden="true" style="font-size:60px"></i>
          <div class="text">Web developer</div>
          <p class="explain">Knowledge of HTML/XHTML, CSS,<br> JavaScript and jQuery.</p>
        </div>
        
        <div class="col-md-4">      
        <i class="fa fa-database" aria-hidden="true" style="font-size:60px"></i>
          <div class="text">Database Adiministaration</div>
          <p class="explain">Knowledge of database queries, theory, <br> design, 
                and RDMS.</p>
        
        </div></div>
  <% include ./partials/footer.ejs %>