/*custom css goes here*/




  .jumbotron
  {
    background-color:transparent
  }
  #share {
	width: 100%;
  	margin: 100px auto;
  	text-align: center;
}
  #share i {
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}


 
  h1 {
    color: white;
    text-align: center;
    font-family: serif;
    font-style: italic;
    background-color: #3b5998

  }
  .program{
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: serif;
    font-style: italic;

  }
  h2 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: serif;
    font-size: 40px;
    border-radius: 250px;
    height: 250px;
    background-color: #212529;

  }
  /* to zoom small images*/
  .zoom {
    padding: 1px;
    background-color: whitesmoke;
    transition: transform .2s;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(3); /* IE 9 */
    -webkit-transform: scale(3); /* Safari 3-8 */
    transform: scale(3); 
  }
  .about{  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color:#3b5998;
    border-radius: 125px;
    border: 5px solid black;
    padding: 40px; 
    width:1000px;
    height: 400; 
  }
  
  .mission{  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color:#3b5998;
    border-radius: 125px;
    border: 3px solid black;
    padding: 40px; 
    width:900px;
    height: 250px; 
  }
  .info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    color:#3b5998;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px; 
    width:450px;
    height: 200px; 

  }
  
  .right {
    font-family: serif;
    font-weight: bold;
    color: #3b5998;
    font-style: italic;
    font-size: 20px;
    text-align: right
  }

  .center{
    align-content: justify;

  }
  .services{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color:#3b5998;
    border-radius: 125px;
    border: 5px solid black;
    padding: 15px; 
    width:1500px;
    height: 300px; 
    align-content: center;

  }
  
  
  .project{
    font-family: serif;
    font-weight: bold;
    color:#3b5998;
    font-style: italic;
    font-size: 70px;
    border-radius: 35px;
   
  }
  .explain
  {
    font-size: 15px;
    color: black;
    font-style: italic;
  }
  .title{
    font-family: serif;
    color:#3b5998;
    font-weight:bold;
    font-size: 25px;

  }
  .left {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: left;
    color:white;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px; 
    width: 800px;
    height: 130px; 
  }
  .contact{
    font-family: serif;
    font-weight: bold;
    color:#3b5998;
    font-style: italic;
    font-size: 20px;
   
  }
  .text{
    font-size: 30px;
    color: #3b5998;
    font-weight: bold;
  }
 
  .button {
    background-color: #3b5998;
    border: none;
    color: whitesmoke;
    padding: 10px 35px;
    text-align: center;
    border-radius: 16px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button:hover {
    background-color:white ;
    color: #3b5998;
  }
  
  
  

.footer{
  text-align:center;
    background-color: #3b5998;
    vertical-align:bottom;
}
